.separator {
  height: 50px;
}

.item,
.space {
  padding: 10px 0 !important;
}

.title {
  background: url('../../assets/pics/section.png') no-repeat center center;
}

.progress {
  background: url('../../assets/pics/timeline.png') repeat-y center center;
}

.end {
  background: url('../../assets/pics/end.png') no-repeat center center;
  height: 100px;
}

@media (min-width: 767px) {
  .margin {
    height: 100px;
  }
}

@media (min-width: 992px) {
  .margin {
    height: 100px;
  }
}
