.section__button-container {
  margin-top: 5px;
}

.skills__list {
  list-style-type: none;
  padding: 0;

  li {
    font-weight: bold;
    margin-bottom: 15px;
  }
}

.skills__desc {
  font-weight: normal;
  
  &:before {
    content: ": ";
  }
}

.btn {
  margin-right: 3px;
  height: 30px;
  line-height: 30px;
  padding-top: 0;
  color: #fafafa;

  &.btn-default {
    background: #031634;
    border: #031634; 
  }
}
