doctype html
html
  head
    title Me
    link(rel='stylesheet', href='css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    .container
      .row
        .col-md-10.col-sm-10.col-md-offset-2.col-sm-offset-1.resume-container
          .row.intro
            .col-md-4
              .profile-pic
                img(src='pics/profile-pic.jpg')
            .col-md-7
              h1.intro__header
                | Hi, I'm
                span.intro__header-name Hannu Pousi!
              h2.intro__title // fullstack developer
              p.intro__content
                | In a nushell,&nbsp;
                strong creating great software
                | &nbsp;is what makes me tick. I'm not talking about having a cup of tea and typing in the code with your favourite editor, but the whole collaborative process of crafting an initial idea into a finished software product.
          .timeline__wrap
            section.timeline.profile
              .row.line.timeline__margin
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__space
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__title
                .col-md-8.timeline__item
                  .line-content
                    h2.section__title Personal info
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__item
                  .line-content
                    h3.section__item-title Full name
                    p.section__item-content Hannu Pousi
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__item
                  .line-content
                    h3.section__item-title Born
                    p.section__item-content 19 Dec 1980 - Tampere, Finland
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__item
                  .line-content
                    h3.section__item-title Email
                    p.section__item-content pousi@iki.fi
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__item
                  .line-content
                    h3.section__item-title Find me on
                    .section__button-container
                      a(href='#').btn.btn-default
                        i.fa.fa-facebook
                      a(href='#').btn.btn-default
                        i.fa.fa-twitter
                      a(href='#').btn.btn-default
                        i.fa.fa-github
                      a(href='#').btn.btn-default
                        i.fa.fa-linkedin
                .col-md-1.hidden-sm.hidden-xs

            section.timeline.skills
              .row.line.timeline__margin
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__space
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__title
                .col-md-8.timeline__item
                  h2.section__title Skills
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__item
                  .line-content
                    h3.section__item-title Languages
                    ul.skills__list
                      li
                        | Finnish
                        span.skills__desc Native
                      li
                        | English
                        span.skills__desc Full professional profiency
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__item
                  .line-content
                    h3.section__item-title Programming
                    ul.skills__list
                      li
                        | Javascript/Coffeescript
                        span.skills__desc 2+ years experience developing SPAs using modern JS-frameworks like React.js, Angular.js and Knockout.js. Also familiar with JS ecosystem (npm, bower, Gulp), Node.js and ES6.
                      li
                        | HTML/CSS
                        span.skills__desc Good understanding of basic concepts in both HTML and CSS (Jade, Stylus).
                      li
                        | C#
                        span.skills__desc 5+ years experience developing .NET desktop applications and back-end solutions (WPF, WCF, Asp.Net MVC3, Prism, NInject).
                      li
                        | Java
                        span.skills__desc 3+ years experience developing Java applications with Spring framework.
                      li
                        | Clojure
                        span.skills__desc 1+ year experience developing back-ends for web applications (Ring, lein).
                      li
                        | Other languages
                        span.skills__desc Python, Ruby, Swift (iOS), C/C++, LUA, Scala
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__item
                  .line-content
                    h3.section__item-title Tools / methodologies
                    ul.skills__list
                      li
                        | Databases
                        span.skills__desc Many years experience with different SQL DBs and ORMs. Also familiar with MongoDB, Redis, Elastic.
                      li
                        | Agile
                        span.skills__desc Scrum, Kanban. Also experienced with team coaching and training.
                      li
                        | Test automation
                        span.skills__desc 8+ years experience in test automation including TDD, BDD and integration testing (Protractor, Capybara, RSpec).
                      li
                        | Version control
                        span.skills__desc GIT, SVN, Mercurial.
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__item
                  .line-content
                    h3.section__item-title Other skills
                    ul.skills__list
                      li
                        | Project management
                        span.skills__desc 6+ years experience managing different sized projects and customers.
                      li
                        | Training
                        span.skills__desc Experienced in customer and internal training.
                .col-md-1.hidden-sm.hidden-xs
            section.timeline.education
              .row.line.timeline__margin
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__space
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__title
                .col-md-8.timeline__item
                  h2.section__title Education
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__item
                  .line-content
                    h3.section__item-title Master of Science (eng.)
                    h4.section__item-subtitle
                      i.fa.fa-university
                      span Tampere University of Technology
                      span.section__item-subtitle-time Graduated 2005
                    p.section__item-content Turpis, sit amet iaculis dui consectetur at. Cras sagittis molestie orci. Suspendisse ut laoreet mi. Phasellus eu tortor vehicula, blandit enim eu, auctor massa. Nulla ultricies tortor dolor, sit amet suscipit enim condimentum id. Etiam eget iaculis tellus. Varius sit amet.
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__item
                  .line-content
                    h3.section__item-title Matriculation Examination
                    h4.section__item-subtitle
                      i.fa.fa-university
                      span Jämsänkosken lukio
                      span.section__item-subtitle-time Graduated 1999
                .col-md-1.hidden-sm.hidden-xs
            section.timeline.work-history
              .row.line.timeline__margin
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__space
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__title
                .col-md-8.timeline__item
                  h2.section__title Work history
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__item
                  .line-content
                    h3.section__item-title Developer Extraordinare
                    h4.section__item-subtitle
                      i.fa.fa-briefcase
                      span Leonidas Oy
                      span.section__item-subtitle-time Aug 2013 - Present
                    p.section__item-content Multiple complex SPA applications using React.js and Angular.js. Also involved with backend development using Clojure and Java.
                    p.section__item-content.section__item-keywords Keywords: React.js, Angular.js, SPA, Node.js, Knockout.js, Jade, Stylus, MongoDB, Clojure
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__item
                  .line-content
                    h3.section__item-title Design engineer
                    h4.section__item-subtitle
                      i.fa.fa-briefcase
                      span Bitwise Oy
                      span.section__item-subtitle-time Feb 2008 - Jul 2013
                    p.section__item-content Worked as a developer and a project manager at in multiple projects. My reponsibilities covered almost every aspect of software development from technology studies and architecture design to UX/IX design.
                    p.section__item-content Also worked in a internal methodology development group which studied, evaluated and put new development tools and practices into use.
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__item
                  .line-content
                    h3.section__item-title Software architect
                    h4.section__item-subtitle
                      i.fa.fa-briefcase
                      span Insta Oy
                      span.section__item-subtitle-time Oct 2007 - Jan 2008
                    p.section__item-content Continued with the past research project. Project's goals now also included evaluating new methodologies such as TDD and Scrum in daily use.
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__item
                  .line-content
                    h3.section__item-title Design engineer
                    h4.section__item-subtitle
                      i.fa.fa-briefcase
                      span Insta Oy
                      span.section__item-subtitle-time Nov 2005 - Sep 2007
                    p.section__item-content Implementation of C2 system's user interface and back-end. Also worked in a research project which studied and evaluated suitability of new techonologies and software tools. This also included developing higher level architecture for the legacy system using rapid prototyping.
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__item
                  .line-content
                    h3.section__item-title Trainee
                    h4.section__item-subtitle
                      i.fa.fa-briefcase
                      span Insta Oy
                      span.section__item-subtitle-time May 2003 - Oct 2005
                    p.section__item-content Implementation of C2 system's user interface and back-end.
                .col-md-1.hidden-sm.hidden-xs
            section.timeline.interests
              .row.line.timeline__margin
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__space
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__title
                .col-md-8.timeline__item
                  h2.section__title Interests
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__item
                  .line-content
                    h3.section__item-title Sports
                    p.section__item-content Badminton, Les Mills classes, jogging, snowboarding to name some. Excercising regularly 4 to 6 times a week is an
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__item
                  .line-content
                    h3.section__item-title Food and wine
                    p.section__item-content Excercising requires good food - or the other way around. Either way I enjoy good food whether it's trying out a new local restaurant or experimenting in kitchen at home.
                .col-md-1.hidden-sm.hidden-xs
              .row.line
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__progress
                .col-md-8.timeline__item
                  .line-content
                    h3.section__item-title Music
                    p.section__item-content When it comes to music I'm an omnivore. Good music is always good music despite of its obscure genre definitions or heavy playlist rotation. Trying ironically avoid being categorized too hipster.
                .col-md-1.hidden-sm.hidden-xs
              .row.line.timeline__margin
                .col-md-1.hidden-sm.hidden-xs
                .col-md-2.hidden-sm.hidden-xs.timeline__end
                .col-md-8.timeline__space
                .col-md-1.hidden-sm.hidden-xs



    script(src='js/bundle.js')
